{% extends 'base.html.twig' %}

{% block title %}Les événements ABC{% endblock %}

{% block body %}
    <div>
        <div class="membresPage__head">
            <span class="membresPage__head-title">Nos événements</span>
            <p class="membresPage__head-sub-title">
                Tous les événements du réseau au même endroit
            </p>
        </div>
        <section class="Event__list">
            {% for event in events %}
                <div class="Event__list-item event-toggle cursor-pointer"
                     onclick="toggleRecap('{{ event.title }}')">
                    <div class="w-100 d-flex flex-column flex-md-nowrap align-items-start align-items-md-center">
                        <span class="Event__list-item--date">{{ event.date|date("d/m/Y") }}</span>
                        <span>{{ event.title }}</span>
                        {% if event.flyer %}
                        <a href="{{ asset('uploads/flyers/' ~ event.flyer) }}" target="_blank" class="text-nowrap mx-2"
                           rel="noopener nofollow">Voir
                            le flyer (PDF)</a>
                        {% endif %}
                        {% if event.recap %}
                            <div class="ml-auto">
                                <button class="btn">Voir le récapitulatif</button>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ event.id }}/edit" class="ml-auto">Éditer</a>
                                {% endif %}
                            </div>
                        {% else %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ event.id }}/edit" class="ml-auto">Éditer</a>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% if event.recap %}
                        <div>
                            <p>{{ event.recap }}</p>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <h3 class="text-center text-secondary">Aucun événement pour le moment !</h3>
            {% endfor %}
        </section>
    </div>

    <script>
      let eventList = [];
      window.addEventListener("load", () => {
        eventList = document.getElementsByClassName("event-toggle");
        [...eventList].forEach((each) => {
          each.lastElementChild.localName === "div" && each.children.length > 1 && each.lastElementChild.classList.add("d-none");
        });
      });

      function toggleRecap(title) {
        console.log(eventList, title);
        const recapItem = [...eventList].filter((item => item.children[0].children[1].innerText === title && item.lastElementChild.localName === "div"))[0];
        console.log(recapItem);
        recapItem.lastElementChild.classList.toggle("d-none");
      }
    </script>
{% endblock %}
