<section class="BeMember">
	<div class="BeMember__angle-left-top"></div>
	<div class="BeMember__angle-right-bottom"></div>
	{% if recommendations %}
		<span class="BeMember__title">Les dernières recommandations</span>
		<div id="home_reco" class="carousel slide lastReco__caroussel" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="row lastReco__row">
						{% for recommendation in recommendations|slice(-2, 2) %}
							<div class="lastReco__row--item">
								<img class="lastReco__rom--item-arrow" src={{asset('images/curve-arrow.svg')}} alt="arrow"/>
								<div class="lastReco__row--item-part">
									<img src={{ recommendation.owner.profileImage }} class="lastReco__row--item-profile" alt="test"/>
									<p class="lastReco__row--item-name">{{recommendation.owner.name}}</p>
									<span class="lastReco__row--item-company">{{recommendation.owner.company}}</span>
								</div>
								<div class="lastReco__row--item-part">
									<img src={{ recommendation.target.profileImage }} class="lastReco__row--item-profile" alt="test"/>
									<p class="lastReco__row--item-name">{{recommendation.target.name}}</p>
									<span class="lastReco__row--item-company">{{recommendation.target.company}}</span>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="carousel-item">
					<div class="row lastReco__row">
						{% for recommendation in recommendations|slice(-2, 2) %}
							<div class="lastReco__row--item">
								<img class="lastReco__rom--item-arrow" src={{asset('images/curve-arrow.svg')}} alt="arrow"/>
								<div class="lastReco__row--item-part">
									<img src={{ recommendation.owner.profileImage }} class="lastReco__row--item-profile" alt="test"/>
									<p class="lastReco__row--item-name">{{recommendation.owner.name}}</p>
									<span class="lastReco__row--item-company">{{recommendation.owner.company}}</span>
								</div>
								<div class="lastReco__row--item-part">
									<img src={{ recommendation.target.profileImage }} class="lastReco__row--item-profile" alt="test"/>
									<p class="lastReco__row--item-name">{{recommendation.target.name}}</p>
									<span class="lastReco__row--item-company">{{recommendation.target.company}}</span>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>

		{% else %}
			<p class="lastReco-no-reco">Aucune recommandations pour le moment !</p>
		{% endif %}
		{# <a class="carousel-control-prev" href="#home_reco" role="button" data-slide="prev">
																											<span class="carousel-control-prev-icon" aria-hidden="true"></span>
																											<span class="sr-only">Précédent</span>
																										</a>
																										<a class="carousel-control-next" href="#home_reco" role="button" data-slide="next">
																											<span class="carousel-control-next-icon" aria-hidden="true"></span>
																											<span class="sr-only">Suivant</span>
																										</a> #}
	</section>
