{% extends 'base.html.twig' %}

{% block title %}Index des membres
{% endblock %}

{% block body %}
    <div>
        <h1 class="memberList__title">Index des membres
            <a class="memberList__add" href="{{ path('app_register') }}">
                <i class="fas fa-plus-circle"></i>Ajouter un nouveau membre</a>
        </h1>
        <table class="table">
            <thead>
            <tr class="memberList__head">
                <th>Nom et prénom</th>
                <th>Entreprise</th>
                <th>Téléphone</th>
                <th>Adresse</th>
                <th>CP</th>
                <th>Ville</th>
                <th>Photo</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for member in members %}
                <tr class="memberList__line">
                    <td>{{ member.name }}</td>
                    <td>{{ member.company }}</td>
                    <td>{{ member.phonenumber }}</td>
                    <td>{{ member.workingLocation }}</td>
                    <td class="text-nowrap">{{ member.postCode }}</td>
                    <td>{{ member.city }}</td>
                    <td><img class="image_profile" src="{{ member.profileImage }}" alt="photo de profil/entreprise"/>
                    </td>
                    <td class="memberList__line-item">
                        <a class="memberList__line-item-link" href="{{ path('member_show', {'id': member.id}) }}">
                            <i class="fas fa-eye"></i>
                            <span>Voir</span>
                        </a>
                        <a class="memberList__line-item-link" href="{{ path('member_edit', {'id': member.id}) }}">
                            <i class="fas fa-pen"></i>
                            <span>Édition</span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Aucuns membres trouvés</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
