{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-n3 position-relative">

        <section class="container position-relative border-white border-big radius-big overflow-image p-0 bg-white">
            <div>
                <img src="/images/banniere_abc.jpg" class="w-100 h-auto radius-big" />
            </div>
            <div class="position-relative w-100">
                <div class="centered w-75 mw-50 text-center">
                    <div class="rounded-profile-pic rounded-full border-white border-big d-flex flex-column justify-content-center align-items-center overflow-hidden">
                        <img src="{{ member.profileImage }}" class="w-100 h-auto" />
                    </div>
                    <span class="font-weight-bold text-1em">{{ member.name }}</span>
                </div>
                <div class="text-right">
                    <a href="{{ path('member_edit', {'id': member.id}) }}"
                       class="btn text-dark text-2em"><i class="fas fa-cog"></i>
                    </a>
                </div>
            </div>
            <div class="profile__infos">
                <h5><i class="fas fa-building text-magenta mr-2"></i>{{ member.company }}</h5>
                <h5><i class="fas fa-map-pin text-magenta mr-2"></i>{{ member.workingLocation }}</h5>
                <h5><i class="fas fa-phone-alt text-magenta mr-2"></i>{{ member.phoneNumber }}</h5>
            </div>
        </section>

        <section class="bg-light py-5 mt-5">
            <div class="container">
                <button class="btn text-1em"
                        id="summaryOwnedHeader" {% if targRecommendations|length == 0 %} disabled="disabled" {% endif %}>
                    <i class="fas fa-sort-down text-magenta mr-2"></i> <span>Afficher les recommandations reçues</span>
                    <span>{% if targRecommendations|length>0 %} {{ targRecommendations|length }} {% else %} 0 {% endif %}</span>
                </button>
                <div class="row scroll hidden mt-2 font-lato" id="summaryOwnedContent">
                    {% for targRecommendation in targRecommendations %}
                        <div class="card_reco col-sm-12 col-xl-12 mx-auto py-3 px-5 d-flex flex-column flex-md-row justify-content-between mt-3">
                            <div class="recommendation__description">
                                <h4 class="font-weight-bold">
                                    Pour le professionnel : {{ targRecommendation.target.name }}
                                </h4>
                                {% if user and member.id == user.id %}
                                    <p class="my-0 mt-2">Le client : <span
                                                class="font-weight-bold">{{ targRecommendation.clientName }}</span></p>
                                    <p class="my-0 mt-2">Commentaire : {{ targRecommendation.comment }}</p>
                                    <p class="my-0 mt-2">Contact : <span
                                                class="font-weight-bold">{{ targRecommendation.infoClient }}</span></p>
                                {% endif %}
                            </div>
                            <div class="rightElement">
                                {% if targRecommendation.status == false %}
                                    <h3><span class="badge badge-warning item-right">En cours</span></h3>
                                    <a class="btn btn-add"
                                       href="{{ path('recommendation_status', {id:targRecommendation.id}) }}">
                                        <span>éditer <i class="far fa-edit"></i></span>
                                    </a>
                                {% endif %}
                                {% if targRecommendation.status == true %}
                                    <h3><span class="badge badge-success item-right">Effectué</span></h3>
                                {% endif %}

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="container mt-5">
                <button class="btn text-1em"
                        id="summaryRecievedHeader" {% if ownedRecommendations|length == 0 %} disabled="disabled" {% endif %}>
                    <i class="fas fa-sort-down text-magenta mr-2"></i>
                    <span>Afficher les recommandations envoyées</span>
                    <span>{% if ownedRecommendations|length > 0 %} {{ ownedRecommendations|length }} {% else %} 0 {% endif %}</span>
                </button>
                <div class="row scroll hidden mt-2 font-lato" id="summaryRecievedContent">
                    {% for ownedRecommendation in ownedRecommendations %}
                        <div class="card_reco col-sm-12 col-xl-12 mx-auto py-3 px-5 d-flex flex-column flex-md-row justify-content-between mt-3">
                            <div class="recommendation__description">
                                <h4 class="font-weight-bold">
                                    Pour le professionnel : {{ ownedRecommendation.target.name }}
                                </h4>
                                {% if user and member.id == user.id %}
                                    <p class="my-0 mt-2">Le client : <span
                                                class="font-weight-bold">{{ ownedRecommendation.clientName }}</span></p>
                                    <p class="my-0 mt-2">Commentaire : {{ ownedRecommendation.comment }}</p>
                                    <p class="my-0 mt-2">Contact : <span
                                                class="font-weight-bold">{{ ownedRecommendation.infoClient }}</span></p>
                                {% endif %}
                            </div>
                            <div class="rightElement">
                                {% if ownedRecommendation.status == false %}
                                    <h3><span class="badge badge-warning item-right">En cours</span></h3>
                                    <a class="btn btn-add"
                                       href="{{ path('recommendation_little_edit', {id:ownedRecommendation.id}) }}">
                                        <span>éditer <i class="far fa-edit"></i></span>
                                    </a>
                                {% endif %}
                                {% if ownedRecommendation.status == true %}
                                    <h3><span class="badge badge-success item-right">Effectué</span></h3>
                                {% endif %}

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
