{% extends 'base.html.twig' %}

{% block title %}Membre{% endblock %}

{% block body %}
    <div>
        <div class="membresPage__head">
            <span class="membresPage__head-title">Membre n° {{ member.id }}</span>
        </div>

        <div class="container py-5">
            <table class="table">
                <tbody>
                <tr>
                    <th>Nom et prénom</th>
                    <td>{{ member.name }}</td>
                </tr>
                <tr>
                    <th>Entreprise</th>
                    <td>{{ member.company }}</td>
                </tr>
                <tr>
                    <th>Téléphone</th>
                    <td>{{ member.phonenumber }}</td>
                </tr>
                <tr>
                    <th>Adresse de l'entreprise</th>
                    <td>{{ member.workingLocation }}</td>
                </tr>
                <tr>
                <tr>
                    <th>Code postal</th>
                    <td>{{ member.postCode }}</td>
                </tr>
                <tr>
                    <th>Ville</th>
                    <td>{{ member.city }}</td>
                </tr>
                <th>Image de profil</th>
                <td><img class="image_profile" src="{{ member.profileImage }}" alt="photo de profil/entreprise" /></td>
                </tr>
                </tbody>
            </table>
            <a href="{{ path('member_index') }}">Revenir à la liste</a>

            <a href="{{ path('member_edit', {'id': member.id}) }}">Mise à jour</a>

            {{ include('member/_delete_form.html.twig') }}
        </div>

    </div>
{% endblock %}
